.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 80px;
}

.nav-links {
  margin-top: 30px;
  margin-right: 80px;
  gap: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 202px;
}

.nav__link {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.nav__link :hover {
  color: #2f80ed;
}

.header__title {
  margin: 0 0 0 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  position: relative;
  
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  margin: 28px 0 0 80px;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  
}

.header__span-linebreak {
  display: block;
}

.header__image {
  position: absolute;
  max-width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  color: #838383;
  margin: auto;
}
.header__footer-list {
padding-right: 80px;
padding-bottom: 40px;
padding-left: 80px;
margin: 0;
}

.header__paragraph {
  display: flex;
  flex-direction: column;
  list-style: none;
  list-style-type: none;
  margin: 0;
}
