.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  margin: 100px 0 24px 0;
  max-width: 780px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.menu__subtitle {
  margin: 0 auto 100px auto;
  max-width: 780px;
  font-family: "Noto Serif", "Times New Roman", "serif";
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}

.menu__cards {
  row-gap: 100px;
  column-gap: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.card {
  max-width: 600px;
  margin-bottom: 100px;
}

.card__title {
  margin: 0 0 32px 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: flex-start;
  color: #fff;
}

.card__list {
  list-style: none;
  min-width: 550px;
  max-width: 550px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  border: none;
  color: #fff;
}

.card__list-divider {
  flex-grow: 2;
  border-bottom: 1px solid #fff;
  color: #fff;
}
